* {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #000;
}

.hero {
  background-color: #F0A202;
  padding-top: 45px;
  padding-bottom: 45px;
}

.hero h3, .hero p {
  color: #fff;
}

.btn-search {
  background-color: #000;
  color: #fff;
  transition: .2s;
}

.btn-search:hover {
  background-color: #1a1a1a;
}

.articleTitle {
  color: #CC3F0C;
  font-size: 1.5em;
  font-weight: 600;
  text-decoration: none;
}

.articleTitle:hover {
  color: #CC3F0C;
  text-decoration: underline;
}

.articleClass {
 box-shadow: 2px 2px 5px 2px #d1d1d1;
 padding: 1em;
 margin-bottom: 10px;
}